.chatRoom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    color: #ffc78a;
}

.chatBox {
    border: 1px solid #ccc;
    width: 90vw;
    height: 400px; 
    overflow-Y: scroll;
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.chatAndMessageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputBox input {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
    height: 30px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 300;
}

.inputBox button {
    width: 10%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

.inputBox {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    
}

.roomName {
    font-size: 48px;
    font-weight: bold;
    padding-left: 5vw;
    text-shadow: 2px 0px 0px #755a3e;
}