.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #ffc78a;
}

.loginBox {
    padding: 25px 50px 25px 50px;
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.loginBox input {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.loginBox input[type="submit"],
.register input[type="button"] {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border: none;
    background: #ff7a00;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.register {
    margin-top: 20px;
}

.projectTitle {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    color: #ff7a00;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}


.error {
    margin-top: 0px;
}